<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Produit Final</title>
</head>
<body>
    <h3>Produit Final</h3>
    <form action="/cout-direct/insert" method="post">
        <p>Unité prod: <input type="text" name="unite" required></p>
        <p>Unité usine: <input type="text" name="unite_usine" required></p>
        <p>Nombre Produit prod: <input type="number" name="nombre" required></p>
        <p>Nombre Produit usine: <input type="number" name="nombre_fini" required></p>
        <p><input type="submit" value="Ajouter"></p>
    </form>
</body>
</html>
